<template>
	<div class="row white text-contacto">
        <div class="col-12 col-md-6">
            <div class="d-flex flex-row">
              <div class="p-2">
                  <i class="icon-contacto mt-2 fas fa-phone"></i>
              </div>
              <div class="p-2">
                <a href="tel:8885555555" class="nav-link red p-0">
                    <p class="m-0">Ti serve aiuto?</p>
                    <p class="m-0">Contattaci: 888-555-5555</p>
                </a>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex flex-row">
              <div class="p-2">
                  <i class="icon-contacto mt-2 far fa-envelope"></i>
              </div>
              <div class="p-2">
                <a href="mailto:info@pizzeriaadriano.it" class="nav-link red p-0">
                    <p class="m-0">Mandaci una mail a</p>
                    <address class="m-0">
                        info@pizzeriaadriano.it
                    </address>
                </a>
              </div>
            </div>
        </div>
    </div>
</template>
<style>
    .icon-contacto{
        color: white;
        font-size: 30px;
    }
</style>