body{
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    color: #1b6501;
    text-decoration: none;
}

/*
font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;
*/

/*___________________________________*/
.font-playfair{
    font-family: 'Playfair Display', serif;
}
.text-red{
    color: #dc3545;
}


.badge.count-cart {
    color: #fff;
    background-color: #dc3545;
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: .8rem;
}
.price-cart-small{
    font-size: .7rem;
    vertical-align: sub;
}
.bg-dark{
    background-color: #000 !important;
}
.bg-red{
    background-color: #dc3b2d;
}

.bg-red-dark{
    background-color: #e20513;
}

.btn-danger{
    background-color: #e20513;
}

.w-20{
    width: 20%;
}

.bg-dark-translucent {
    background-color: #000000b5
}
/*search barra verde*/
.bg-green{
    background-color: #1b6501;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
    border-radius: .8rem;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}
.input-group-sm>.input-group-prepend>.btn{
    padding: .5rem .8rem;
}
.btn-outline-secondary, .btn-outline-secondary:hover{
    color: #dc3545;
}

.input-group > .form-control:focus, 
.input-group > .custom-select:focus, 
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: 0;
}

/*carousel bootstrap*/
.carousel-caption {
    position: relative;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: no-repeat center center;
    background-size: cover;
}

.carousel-control-next-icon {
        background-image: url(../images/home/flecha-slider.svg);
        transform: rotateY(0deg); 
}
.carousel-control-prev-icon {
    background-image: url(../images/home/flecha-slider.svg);
    transform: rotateY(180deg);
}

.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}

.btn-primary{
    padding: 10px;
}

/**/
.btn-primary:hover, .btn-primary {
    color: #fff;
    background-color: #216619;
    border-color: #42ca32;
    border-radius: 0px;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 102, 25, 0.5);
}
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #216619;
    border-color: #42ca32;
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgba(33, 102, 25, 0.5);
}


/*fomularios*/
.form-control.form-material {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}

/*my account*/
.fondo{
    background-color: #000000;
}
.white{
    color:#FFF !important;
}
.red{
    color: #e20513;
}

.gray{
    color:gray;
}

.ul-item{
    list-style:none;
}

.nav-link{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.is-danger{
    border-bottom: 1px solid #e33d2f !important;
    color: #fff;
}
.btn-secondary:hover, .btn-secondary {
    color: #fff;
    background-color: #dc3b2d;
    border-color: #d63d2f;
    border-radius: 0px;
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem #dc3b2d80;
}
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #dc3b2d;
    border-color: #d63d2f;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem #dc3b2d80;
}
.btn-secondary-two:hover, .btn-secondary-two {
    color: #fff;
    background-color: #e20513;
    border-color: #e20513;
    border-radius: 0px;
}

.sugestion {
    
    border-bottom: 2px solid #d5a240; 
    width:100%; 
    height:100px;
    font-weight:bold; 
    padding-top:20px
}

.btn-sugestion {
    float:right; 
    margin-top:-50px; 
    padding-right:200px
}

.ordina-block {

    width:100%; 
    height:100px;
    font-weight:bold; 
    padding-top:20px;
    margin:auto;
}

.btn-sugestion-bottom {
     
    margin-top:-50px; 
    
}
.button {
    background-color: #F31616;
    border: none;
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

/* swiper slider */

.swiper-contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}