<template>
    <div>
        <slider_header/>
        <searchbar/>
        <about-us/>
        <slider-categories/>
        <step_order/>
<!--         <grazie/>-->
<!--         <denied/>-->
        <!--<certificate/>-->
        <type_dough/>
        <contact/>
        <maps/>
        <newsletter></newsletter>
        <footer_index></footer_index>
        <menu_responsive/>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                //'section':{}
            }
        },
    }
</script>