<template>
<div>
    <div class="d-md-none d-xs-block d-sm-block">
        <img src="images/home/certificate/certificado_mobile.jpg" alt="certificate" width="100%">
    </div>
    <div class="d-none d-md-block">
        <img src="images/home/certificate/certificado_web.jpg" alt="certiicate" width="100%">
    </div>
</div>
</template>