<template>

<div style="background-image:url(/images/home/pizeria_da_adriano.png); background-repeat: no-repeat;  background-size:cover;">

<div class="bg-dark-translucent p-4 p-sm-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="text-white text-center">
            <img src="images/home/frown.svg" width="70px" height="70px" >
              <h1 class="text-uppercase font-weight-bold" style="margin-top: 30px;">Il tuo messaggio non può</h1>
              <h1 class="text-uppercase font-weight-bold"> essere inviato</h1>
              <button class="btn btn-danger border-ct text-uppercase">Indietro</button>
          </div>                      
        </div>
    </div>
</div>


</div>
</template>

<script>

</script>

<style scoped>

.border-ct {
    border-style: solid;
    border-color: #FFF;
    padding-top: 3px;
    padding-bottom: 3px;
}
</style>

