<template>
    <div>
        <div class="d-md-none d-xs-block d-sm-block fixed-bottom">
            <nav class="navbar bg-color-red d-flex">
                <a href="https://api.whatsapp.com/send?phone=393470679183&text=Ciao%2C%20voglio%20acquisire%20un%20contatto%20con%20te" class="w-20 text-white d-flex flex-column justify-content-center align-items-center">
                    <img width="28" src="images/home/iconos-nav-footer/whatsapp.svg" alt="">
                    <span>Whatsaap</span>
                </a>
                <a href="tel:393470679183" class="w-20 text-white d-flex flex-column justify-content-center align-items-center">
                    <img width="28" src="images/home/iconos-nav-footer/004-phone-call.svg" alt="">
                    <span>Ordina</span>
                </a>
                <a href="/list-product" class="w-20 text-white d-flex flex-column justify-content-center align-items-center">
                    <img width="28" src="images/home/iconos-nav-footer/003-pizza.svg" alt="">
                    <span>Menu</span>
                </a>
                <!-- <a href="" class="w-20 text-white d-flex flex-column justify-content-center align-items-center">
                    <img width="42" src="images/home/iconos-nav-footer/002-user.svg" alt="">
                    <span>Accedi</span>
                </a> -->
                <a href="https://goo.gl/maps/nBvzJpMHCd32" class="w-20 text-white d-flex flex-column justify-content-center align-items-center">
                    <img width="28" src="images/home/iconos-nav-footer/002-placeholder.svg" alt="">
                    <span>Map</span>
                </a>
            </nav>
        </div>
    </div>
</template>  


<style scoped>
  .bg-color-red{
  background-color:  #e20513 !important;
}
.navbar{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7);
}
</style>