<template>
    <div class="container-fluid bg-red pt-4 pb-5">
        <div class="container">
            <div class="">
                <h1 class="text-center text-white mb-5 font-weight-bold">ORARI DALLE 18.00 ALLE 24</h1> 
            </div>
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <div class="d-inline-block"><img src="/images/servicio/icon1.png" alt=""></div>
                    <h2 class="text-white font-weight-bold">CONSEGNA <br> A DOMICILIO</h2>
                    <p class="text-white font-weight-bold lead">
                        Basterà prenotare le tue pizze, focacce, piatti composti o calzoni al nostro numero
                    </p>
                    <h2 class="text-white font-weight-bold">339/729963</h2>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="d-inline-block"><img src="/images/servicio/icon6.png" alt=""></div>
                    <h2 class="text-white font-weight-bold">LA NOSTRA <br> TESSERA</h2>
                    <p class="text-white font-weight-bold lead">Portate sempre con voi la tessera della nostra pizzeri, ogni volta che acquisterete una pizza vi verrà messo un timbro.</p>                 
                </div>
                <div class="col-12 col-md-4 mb-sm-4 text-center">
                    <div class="d-inline-block"><img  src="/images/servicio/icon4.png" alt=""></div>
                    <h2 class="text-white font-weight-bold">VASTA SCELTA DI PIZZE CIRCA 80!</h2>
                    <div class="d-inline-block">
                        <img src="/images/servicio/icon7.png" alt="" style="width:70%;">
                    </div>
                    <h2 class="text-white font-weight-bold">SERVIZO</h2>
                </div>
            </div>
        </div>
        
        <div class="container bg-white border-gold mt-4">
            <div class="row p-3">
                <div class="col-12 col-md-4 text-center">
                    <div class="d-inline-block">
                        <img src="/images/servicio/icon3.png" alt="" style="width:70%;">
                    </div>
                    <h2 class="mt-2">PIATTI <br> COMPOSTI</h2>
                    <p class="lead">piatti composti a base di caner/insalata/fritture</p>
                </div>
                <div class="col-412 col-md-4 text-center">
                    <div class="d-inline-block">
                        <img src="/images/servicio/icon2.png" alt="" style="width:70%;">
                    </div>
                    <h2 class="mt-2">SERVIZIO A<br> TAVOLO</h2>
                    <p class="lead">La Pizzeria Da Adriano effetctua servizio a tavolo</p>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="d-inline-block">
                        <img src="/images/servicio/icon5.png" alt="" style="width:70%;">
                    </div>
                    <h2 class="mt-2">PRENOTAZIONE</h2>
                    <p class="lead">Possibilita di riservare la nuova saa al plano inferiore per feste</p>
                </div>                                             
            </div>
        </div>

    </div>
</template>


<style scoped>
    .border-gold{
        border: 1rem solid #F39C12;
    }
    .bg-red{
        background-color: #e20513 !important;
    }
    .bg-white{
        background-color: #fff !important;
    }
    p {
        color: grey;
    }
@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}
</style>