<template>
  <div>
    <div class="w-100 d-flex justify-content-center align-items-center img-back">
        <!-- <img src="/images/servicio/header.jpg" alt="" class="img-fluid"> -->
        <div>
          <h1 class="text-center text-white font-weight-bold">SERVIZI</h1>
        </div>
    </div>
  </div>
</template>

<style scoped>
  .img-back{
    background-image: url(/images/servicio/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 220px;
  }
</style>