<template>
    <div>
        <returnback url="/" />
        <header_servizi/>
        <searchbar/>
        <bodyservizi/>
        <type_dough/>
        <newsletter></newsletter>
        <footer_index></footer_index>
        <menu_responsive/>
    </div>
</template>