<template>

    <div>
        <div class="container text-center">
            <div class="text-white divp" style="margin-top: 40px;">
                <h1 class="text-uppercase">ERROR</h1>
                <h2 class="text-uppercase">500</h2>

                <img src="images/errors/link-break.svg" alt="" width="20%" height="20%">
                <p class="p1 text-uppercase">
                    Problemas de Conexiòn 
                </p>
                <p>
                    Diríjase a nuestra página de inicio del centro de 
                </p>
                <p>
                    ayuda o simplemente envíenos un mensaje
                </p>
            </div>

        </div>

    </div>

</template>
<script>
    export default {
        data() {
            return {
                //'section':{}
            }
        },
    }
</script>

<style>
.divp{
    margin-top: 40px;
    margin-bottom: 100px;
}
img{
    margin-bottom:30px;
    margin-top:30px;

}
h1{
    margin-top:40px;
    font-size:550%;
}
h2{
        font-size:550%;
}
.p1{
        font-size:200%;

}
</style>